.main {
  width: 100%;
  height: 100vh;
  background-color: $dark-color;

  &_textBox {
    position: relative;
    width: 100%;
    height: 55%;
    text-align: center;

    p {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      font-family: $font-main;
      font-size: 8vw;
      font-weight: bolder;

      opacity: 0;
      animation: slideUpFade 9s ease-in-out infinite;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 3s;
      }

      &:nth-child(3) {
        animation-delay: 6s;
      }
    }
  }
}

// text animation
@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
  40% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.main_imgBox {
  position: relative;
  width: 100%;
  margin-top: 20px;

  > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .circle {
    width: 320px;
    height: 320px;
    background: $point-color;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
  }
  .character {
    width: 200px;
    height: 300px;
    background-image: url(../../img/main/mainImg.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    top: 10px;
    transform: translateX(-50%) scale(0.9);
    animation: emoji 2s steps(13) infinite;
  }
}

@keyframes emoji {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2600px 0;
  }
}

// con01

.about {
  width: 80%;
  height: auto;
  background-color: #fff;
  border-radius: 80px 80px 0 0;
  color: $dark-color;
}

.about {
  .aboutcontent {
    width: 100%;
    margin: 0 auto;
    display: grid;
    row-gap: 14%;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 0.5fr 1.6fr;
  }
}

.about_textBox {
  box-sizing: border-box;
  padding: 10% 10% 10% 0px;
}
.about_textBox p {
  font-size: 4vw;
  letter-spacing: -1px;
  font-family: $font-main;
  line-height: 1.2;
  opacity: 0;
}

//   // about favorite 영역

.about_favorite {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  width: 100%;
  height: auto;
  position: relative;
}
.about_favorite {
  .favoriteBox {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.favoriteText {
  position: relative;
}
.favoriteText ul {
  width: 100%;
  height: 100%;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.favoriteText ul li {
  display: flex;
}

.favoriteText ul li span {
  font-weight: 500;
  font-size: 7vw;
  color: $point-color;
}

.favoriteText ul li:nth-child(1) span {
  margin-right: auto; /* 왼쪽 */
}

.favoriteText ul li:nth-child(2) span {
  margin-left: auto; /* 오른쪽 */
  margin-right: 20%;
}

.favoriteText ul li:nth-child(3) span {
  margin-right: auto; /* 왼쪽 */
  margin-left: 20%;
}

.favoriteText ul li:nth-child(4) span {
  margin-left: auto; /* 오른쪽 */
}

.favoriteItem {
  position: absolute;
  inset: 0;
}

.favoriteItem {
  display: flex;
  .favoriteItem_l,
  .favoriteItem_r {
    width: 50%;
    height: 100%;
    position: relative;
  }
  .item {
    position: absolute; // ✅ 자유 배치(겹치기)하려면 absolute 추천
    border-radius: 50%;
    border: 1px solid #000;
    display: block;
  }

  .item img {
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  //   // 사이즈: a/b/c (span에 같이 붙어있으니까 바로 먹음)
  .a {
    width: 13vw;
    height: 13vw;
  }
  .b {
    width: 10vw;
    height: 10vw;
  }
  .c {
    width: 7vw;
    height: 7vw;
  }
}

.favoriteItem_l .item:nth-child(3),
.favoriteItem_r .item:nth-child(2) {
  background-color: $point-color;
  border: none;
}

.favoriteItem_l .item:nth-child(4),
.favoriteItem_r .item:nth-child(1) {
  background-color: $dark-color;
  border: none;
}

.favoriteItem_l .item:nth-child(3) img {
  width: 45%;
}
.favoriteItem_r .item:nth-child(3) img {
  width: 80%;
}

// about favoritem 위치

// favoriteItem left
.favoriteItem_l .item:nth-child(1) {
  top: 0%;
  right: 2%;
}
.favoriteItem_l .item:nth-child(2) {
  top: 20%;
  left: 40%;
}
.favoriteItem_l .item:nth-child(3) {
  top: 30%;
  left: 5%;
}
.favoriteItem_l .item:nth-child(4) {
  bottom: 10%;
  left: 25%;
}
.favoriteItem_l .item:nth-child(5) {
  bottom: 20%;
  right: 10%;
}

// right item

.favoriteItem_r .item:nth-child(1) {
  top: -2%;
  right: 30%;
}
.favoriteItem_r .item:nth-child(2) {
  top: 43%;
  left: 25%;
}
.favoriteItem_r .item:nth-child(3) {
  bottom: 5%;
  left: 5%;
}
.favoriteItem_r .item:nth-child(4) {
  top: 30%;
  right: 5%;
}



// video
.video {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 100px;
  
}
.about_circlebox{
  width: 100%;
  height:300px;
  position: relative;
  overflow: hidden;
  
  .aboutcircle,
  .abouttext{
    position: absolute;
  }

}
.aboutcircle{
  width: 2000px;
  height: 1000px;
  border-radius: 50%;
  background-color: $dark-color;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.abouttext{
  width: 100%;
  top:25%;
  color: #fff;
  text-align: center;

  h3{
    font-size: 2vw;
    padding-bottom: 20px;
  }
}
.videoWrap {
  width: 100%;
  height: 100vh;
  background-color: $dark-color;
    position: relative;

}
.videoBox {
  width: 90%;
  height: 90%;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
