@use "../base/variables" as *;

.main {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main .main_textBox {
  width: 100%;
  text-align: center;
  margin-top: 200px;
  font-size: 120px;
  font-weight: 600;
  letter-spacing: -1px;
  p {
    .pointColor {
      color: $point-color;
    }
  }

  p {
    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
  }
}
