@use "../base/variables" as *;

.work-page {
  color: $dark-color;


  .work__main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      width: 100%;
      font-size: 6vw;
      font-family: $font-main;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;

      >p {
        line-height: 1.2;
      }
    }
  }

  .work__main-anchor {

    display: flex;
    justify-content: center;

    >ul {
      display: flex;
      width: auto;
      border-radius: 50px;
      border: 1px solid #3b3b3b;
    }

    >ul>li {
      padding: 10px 20px;
      border-radius: 50px;
      transition: all 0.3s ease;

    }

    >ul>li>a {
      color: #3b3b3b;
    }

    >ul>li:hover {
      background-color: $point-color;
    }
  }

  // design

  .work__design {
    width: 100%;
    height: 100vh;

  }

  .work__design-list {
    width: 100%;
    display: flex;
    justify-content: space-between
  }

  .work__design-item {
    width: 22%;

  }

  .work__design-media {
    width: 100%;
    height: 600px;
    border-radius: 20px;
    border: 2px solid #000;
  }
  .work__design-content{
    
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border-top: 1px solid #000;

    .work__design-textbox{
      .work__design-title{
        font-size: 20px;
        font-weight: 400;
      }
      .work__design-more{
        margin: 15px 0px;
        display: flex;
        justify-content: space-between;
        .work__design-tool{
          font-size: 13px;
          color: #757575;
        }
        
      }
      .work__design-desc{
          font-size: 13px;
          line-height: 1.2;
        }
    }
  }
}