body {
  color: $text-light;
  font-family: $font-kr;
}

.wrap {
  margin: 0 auto;
  position: relative;
  background-color: $dark-color;
}
.container-90 {
  width: 90%;
  margin: 0 auto;
}

section {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
a {
  color: $text-light;
}

.point {
  color: $point-color;
}
