/* 1) 변수 */
@import "./base/variables";

/* 2) 리셋/기본 */
@import "./base/reset";

/* 3) 전체 레이아웃(=wrap, inner, container 같은 뼈대) */
@import "./layout/layout";

/* 4) 컴포넌트 */
@import "./components/header";

/* 5) 페이지 */
@import "./pages/main";

